.config/google-chrome/
.config/clifm/profiles/default/.last
.config/clifm/profiles/default/dirhist.clifm
.config/clifm/profiles/default/history.clifm
.config/clifm/profiles/default/jump.clifm
.config/aerc/accounts*
.config/aerc/mailbook.txt
.config/gh/hosts*
.config/mpd/*
!.config/mpd/mpd.conf
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings
.config/zsh/.zcompdump
.config/zsh/private_aliases_envs
.config/clifm/profiles/default/dirhist.clifm
.config/clifm/profiles/default/history.clifm
.config/clifm/profiles/default/cmdlogs.clifm
.config/clifm/profiles/default/jump.clifm
.config/zathura/colorschemes
.config/sxhkd/*
!.config/sxhkd/sxhkdrc
.w3m/*
!.w3m/config
!.w3m/keymap
!.w3m/cgi-bin/*
!.w3m/bookmark.html
!.w3m/siteconf
!.w3m/menu
!.w3m/mailcap

